<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .c1{
            color: red;
        }

        #c2{
            color:gold;
        }
        li{
            color: pink;
        }
        input[type="text"]{
            border: 1px solid aqua;
        }
        .v1[cate = "456"]{
            color: gold;
        }
        .yy li{
            color: blue;
        }
        .yy > a{
            color: blueviolet;
        }
    </style>
</head>
<body>
<h1>Welcome</h1>
    <div class="c1">China</div>
    <div id="c2">Aus</div>
    <div>US</div>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>
    <div>
        <input type="text"/>
        <input type="password"/>
    </div>
    <div class="v1" cate = "123">balabala</div>
    <div class="v1" cate = "456">balabala2</div>
    <div class="v1" cate = 789>balabala3</div>

    <div class="yy">
        <a>Baidu</a>
        <div>
            <a>Google</a>
        </div>
        <ul>
            <li>UOW</li>
            <li>UCLA</li>
            <li>MIT</li>
        </ul>
    </div>
</body>
</html>

<!-- !important 知识点： 不被后面的元素覆盖 -->