<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .item{
            float: left;
            width: 280px;
            height: 170px;
            border: 1px solid red;
        }
        .outer{
            width: 200px;
            height: 200px;
            border: 1px solid red;
            margin-top: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div>
        <span>left</span>
        <span style="float: right">right</span>
    </div>
    <div style="background-color: blue">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div style="clear: both"></div>
    </div>
    <div style="margin-top: 20px">Hahahah</div>

    <div class="outer">
        <div>Hello</div>
        <div>Every one</div>
    </div>

</body>
</html>