<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>font</title>
    <style>
        .c1{
            color: #00FF7F;
            font-size: 18px;
            font-weight: 200;
            font-family: "Microsoft JhengHei";
        }
        .c2{
            height: 59px;
            width: 300px;
            border: 1px solid red;
            text-align: center; /*horizon center*/
            line-height: 59px; /*vertical center*/
        }
    </style>
</head>
<body>
    <div class="c1">Union China</div>
    <div class="c2">China mobile</div>
</body>
</html>