<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1{
            height: 300px;
            width: 50%;
        }
        .c2{
            display: inline-block;
            height: 100px;
            width: 300px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="c1">Union</div>
    <div>Mobile</div>
    <span class="c2">China</span>
</body>
</html>

<!--宽度可以设置百分比，行内标签默认无效 块级标签有校。-->
<!--使用display:inline-block 可以使行内标签有效-->
<!--display 可以让行内标签变为块级标签，也可以让块级标签变为行内标签-->