<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1>Head 1</h1>
    <div>div content 1</div>
    <span>span1</span>
    <span>span2</span>
    <a href = "https://www.lego.com/en-au">jump to lego</a>
    <div>
        <h1>Div Test</h1>
        <img src="https://www.finnair.com/au-en/destinations/asia-pacific/australia/sydney" />
        <span>Test jump <a href = "/get/news">Jump self</a></span>
    </div>
    <div>
        <h1>Kiama Image</h1>
        <img style="height: 200px;" src="/static/Kiama.jpeg"/>
    </div>

</body>
</html>