<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <h1>Head 1</h1>
    <div>div content 1</div>
    <span>span1</span>
    <span>span2</span>
    <a href = "https://www.lego.com/en-au">jump to lego</a>
    <div>
        <h1>Div Test</h1>
        <img src="https://www.finnair.com/au-en/destinations/asia-pacific/australia/sydney" />
        <span>Test jump <a href = "/get/news">Jump self</a></span>
    </div>
    <div>
        <h1>Kiama Image</h1>
        <img style="height: 200px;" src="/static/Kiama.jpeg"/>
    </div>



    <div>
        <h1>Input contentg</h1>
        <input type="text"/>
        <input type = "password"/>
        <input type="file"/>
        <input type = "radio" name = "n1"/> Male
        <input type = "radio" name = "n1"/> Female

        <input type = "checkbox">basketball
        <input type = "checkbox">football
        <input type = "checkbox">Ping pong
        <input type= "checkbox">baseball

        <input type="button" value="button">
        <input type="submit" value="submit">
    </div>

    <div>
        <select>
            <option>Beijing</option>
            <option>Sydney</option>
            <option>Shanghai</option>
        </select>

        <select multiple>
            <option>Beijing</option>
            <option>Shanghai</option>
            <option>shenzheng</option>
        </select>
    </div>
    <textarea rows="3"></textarea>
</body>
</html>