<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>re</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/do/register">
        <div>
            ID: <input type="text" name = "userId"/>
        </div>
        <div>
            Password: <input type = "password" name = "pw"/>
        </div>
        <div>
        Sex: <input type="radio" name="sex", value = "1">male
        <input type="radio" name="sex", value="0">female
    </div>
        <div>
        hobbies:
        <input type="checkbox" name="hobby" value="basket"> basketball
        <input type="checkbox" name="hobby" value="foot"> football
        <input type="checkbox" name="hobby" value="base"> baseball
    </div>
        <div>
        City:
        <select name = "city">
            <option value="bj">beijing</option>
            <option value="sh">shanghai</option>
            <option value="wh">Wuhan</option>
        </select>
    </div>
        <div>
        PS:
        <textarea name="detail" rows="5"></textarea>
    </div>
        <input type="submit" value="submit">
    </form>




    <div>
        <input type="button" value="button">

    </div>
</body>
</html>