<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> User list</h1>
    <table border = "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Photo</th>
                <th>Name</th>
                <th>email</th>
                <th>operation</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                <img scr="/static/Kiama.jpeg" alt="" style="height: 50px">
            </td>
            <td>
                Wangli Yang
            </td>
            <td>wy538@live.com</td>
            <td><a href="https://www.lego.com/" target="_blank">detail</a></td>
            <td>
                edit
                delete
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <img scr="/static/Kiama.jpeg" alt="" style="height: 50px">
            </td>
            <td>
                Wangli Yang
            </td>
            <td>wy538@live.com</td>
            <td><a href="https://www.lego.com/" target="_blank">detail</a></td>
            <td>
                edit
                delete
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>